<h3>Small</h3>
<p>includes city cars and small family cars</p>

<h3>Medium</h3>
<p>includes family cars, sports cars or luxury cars</p>

<h3>Large</h3>
<p>includes minivans, sport utility vehicles (SUVs) or larger vehicles</p>