<p>Gas and oil: this is for heating, hot water and gas cookers.</p>

<p>Electricity: be aware that if you use electricity for both heating and hot water, the amount you use, and therefore the related carbon emissions, may be two to three times greater than if you use electricity for hot water only.</p>