<p>Gas and oil: this is for heating, hot water and gas cookers.</p>

<p>Electricity: be aware that if you use electricity for both heating and hot water, the amount you use, and therefore the related carbon emissions, may be two to three times greater than if you use electricity for hot water only.</p>

<p>
  Coal: a <a href="http://en.wikipedia.org/wiki/Fossil_fuel">fossil fuel</a>, coal is the largest source of energy 
  for the <a href="http://en.wikipedia.org/wiki/Electricity_generation">generation of electricity</a> worldwide, 
  as well as one of the largest sources of carbon emissions.
</p>

<p>Find out the energy footprint for your entire house or flat, and you're on your way to taking responsibility for all the people living under your roof. Congratulations!</p>
