<p>Bus here refers to all buses and coaches. Train refers to all local rail and tube travel.</p>
<p>If you commute five days a week, your number of commutes on average is 44 per month or 470 per year.</p>
