<li>
  <a href="/calculator/<%= session[:type] %>?tab=<%= tab %>" data-tab-id="<%= tab %>"
    ><%= image_tag "/images/tabs/ng_#{tab}_#{tab_class tab, selected}.png", :alt=> copy_for_tab(tab) %></a>
</li>
