<div id="main">
  <div id="content">
    
    <%# AMEE Green #209898 %>
    <div id="amee-intro">
    
      <div id="personal">
        <h4><a href="/calculator/start?type=personal" class="amee-link">Personal calculator 
          <%= image_tag "selection_arrow_amee.png", :alt=>"arrow"%></a></h4>
        <p>I am an individual or household, calculate my contribution.</p>
      </div>
  
      <div id="business">
        <h4><a href="/calculator/start?type=business" class="amee-link">Business calculator 
          <%= image_tag "selection_arrow_amee.png", :alt=>"arrow"%></a></h4>
        <p>We are a business, calculate our contribution.</p>
      </div>
  
      <div id="quick">
        <h4><a href="/calculator/start?type=personal&tab=quick" class="amee-link">Quick calculator 
          <%= image_tag "selection_arrow_amee.png", :alt=>"arrow"%></a></h4>
        <p>Know your carbon footprint already? Go straight to the quick calculator.</p>
      </div>
  
    </div>
      
  </div>
</div>